* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dfd8e7;
}

.container {
    width: 50%;
    margin: 60px auto;
}

.content {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0 2px 2px 0px #00000026;
    margin-bottom: 15px;
}

.content h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #353538;
}

.content p {
    color: #5c5a5a;
    line-height: 1.5;
}